<template>
	<div>
      <form-helper>
        <div slot='form-header'>
          <h3>Form Two - Log In</h3>
          <p>Enter you details to log-in</p>
        </div>
        <div slot="form-fields">
          <input type="text" placeholder="username" required>
          <input type="password">
        </div>
        <div slot="form-controls">
          <button v-on:click="handleSubmit">Login</button>
        </div>
      </form-helper>
  </div>
</template>

<script>

import formHelper from './formHelper.vue'

export default {
  components: {
    'form-helper': formHelper
  },
  data () {
    return {

    }
  },
  methods: {

  }
}
</script>

<style scoped>
  
</style>