<template>
	<header>
		<h1 v-on:click="changeTitle">{{ title }}</h1>
	</header>  
</template>

<script>

import {bus} from '../main';

export default {
  // props: ['title'],
  props: {
  	title: {
  		type: String
  	}
  },
  data () {
    return {
      
    }
  },
  methods: {
  	changeTitle: function(){
  		// this.$emit('changeTitle', 'I am a root change from $emit');
  		this.title = 'Vue WizardArio';
  		bus.$emit('titleChanged', 'Vue Wizard');
  	}
  }
}
</script>

<style scoped>
  header{
  	background: lightgreen;
  	padding: 10px;
  }
  h1{
  	color: #222;
  	text-align: center;
  }
</style>