<template>
  <div>
    <!-- <app-header :title="title" v-on:changeTitle="updateTitleHead($event)"></app-header>
    <app-body :ninjas="ninjas"></app-body>
    <app-footer :fooTitle="fooTitle"></app-footer> -->
    <!-- <form-helper>
      <div slot="form-header">
        <h3>This is the title of the form</h3>
        <p>Information about the form</p>
      </div>
      <div slot="form-fields">
        <input type="text" placeholder="name" required>
        <input type="password">
      </div>
      <div slot="form-controls">
        <button v-on:click="handleSubmit">Submit</button>
      </div>
    </form-helper> -->
   <!--  <keep-alive>
      <component v-bind:is="component"></component>
    </keep-alive>
    <button v-on:click="component = 'form-one'">show form one</button>
    <button v-on:click="component = 'form-two'">show form two</button> -->
    <!-- <add-blog></add-blog> -->
    <!-- <show-blogs></show-blogs>
    <list-blogs></list-blogs> -->
    <app-head></app-head>
    <router-view></router-view>
  </div>
</template>

<script>

// import Header from './components/Header.vue'
// import Footer from './components/Footer.vue'
// import Ninjas from './components/Ninjas.vue'
// import formHelper from './components/formHelper.vue'
// import formOne from './components/formOne.vue';
// import formTwo from './components/formTwo.vue';
import addBlog from './components/addBlog.vue'
import showBlogs from './components/showBlogs.vue'
import listBlogs from './components/listBlogs.vue'
import head from './components/head.vue'

export default {
  components: {
    // 'app-header' : Header,
    // 'app-footer' : Footer,
    // 'app-body' : Ninjas,
    // 'form-helper' : formHelper,
    // 'form-one' : formOne,
    // 'form-two': formTwo
    'add-blog' : addBlog,
    'show-blogs' : showBlogs,
    'list-blogs' : listBlogs,
    'app-head' : head
  },
  data () {
    return {
      // component: 'form-one'
      // title: 'I am dynamic slot title'
      // ninjas: [
      //   {name : 'Ryu', speciality : 'Vue Components', show : false},
      //   {name : 'Crystal', speciality : 'HTML Wizardy', show : false},
      //   {name : 'Hitoshi', speciality : 'Click Events', show : false},
      //   {name : 'Tango', speciality : 'Conditionals', show : false},
      //   {name : 'Kami', speciality : 'Webpack', show : false},
      //   {name : 'Yoshi', speciality : 'Data Diggin', show : false}
      // ],
      // title: 'Vue Ninja',
      // fooTitle: 'Footer text'
    }
  },
  methods: {
    // updateTitleHead: function(data){
    //   this.title = data;
    // }
  }
}
</script>

<style scoped>
  
</style>
